# 忽略敏感配置
.env

# 忽略 git 数据
.git
.gitignore

# 忽略本地虚拟环境 (防止本地环境污染镜像)
venv/
env/
anaconda3/

# 忽略 Python 缓存
__pycache__/
*.pyc

# 忽略运行时生成的资源 (会在 docker-compose 中挂载)
logs/
media/
static/

# 忽略 Docker 配置目录自身
docker/