# 忽略敏感配置
.env

# 忽略本地开发工具和环境
.git
.vscode
.idea
venv/
env/
anaconda3/

# 忽略 Python 编译缓存
__pycache__/
*.pyc

# 忽略运行时生成的文件 (线上环境会挂载这些目录，不需要提交)
logs/
media/
static/

# ⚠️ 必须删除 **/migrations/ 这一行
# 确保 migrations 文件夹下的 .py 文件（除了 __init__.py）都被提交到 Git